<div class="maps col-md-8">
    <div id='map'></div>
</div>

<div class="sideMenu col-md-4">
    <%= render 'layouts/filters' %>
</div>  

<script>
    <%= render(:partial => "static_pages/maps.js") %>
</script>