<div class="maps">
     <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id='map'></div>
</div>

<div class="sideMenu">
    <% @square = 1500 %>
    <%= render 'layouts/filters' %>
</div>  

<%= render 'static_pages/maps' %>