<div class="maps col-md-8">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
    <div id='map'></div>
    <div id="legend"><h3>Legenda</h3></div>
</div>

<div class="sideMenu col-md-4">
    <%= render 'layouts/filters' %>
    <!--<div  class="legend">-->
        
    <!--</div>-->
</div>  

<script>
    <%= render(:partial => "static_pages/maps.js") %>
</script>