<h1>Filtros</h1>
<div>
    <input style="margin-left: 20px; width: 50%;" type="range" value="1" min="0.5" max="20" step="0.5" name="slider_raio" onchange="adjustSquare(this.value)"  oninput="display.value=slider_raio.value" id="slider_raio" />
    Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output>
    <h4>Mostrar:
        <input class='btn btn-primary' style="width: 20%;" type='button' value='Por Raio' name='btn_showSquare' onclick='adjustSquare(slider_raio.value)' />
        <input class='btn btn-primary' style="width: 20%;" type='button' value='Todos' name='btn_showAll' onclick='allData()' />
    </h4>
    <br />
    
     <form method="get">
        <% tags = getTags %>
        <% for t in tags %>
            <%= check_box_tag("filters", t.tag, checked = false, :onclick => 'setFilters(this.value)') %>
            <%= label_tag(t.tag) %><small> (<%= t.description %>)</small><br />
        <% end %>
    </form>
    
</div>